@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700)
@import url(https://fonts.googleapis.com/icon?family=Material+Icons)


@mixin body-font() 
  font-family: "Roboto", "Verdana", sans-serif
  font-weight: 300


@mixin title-font() 
  @include body-font()
  font-weight: 700


@mixin subtitle-font() 
  @include body-font()
  font-weight: 400


body
  @include body-font()
