@import "bourbon"
@import "neat"

$mobile: new-breakpoint(max-width 480px);
$medium-desktop: new-breakpoint(min-width 481px max-width 768px);
$large-desktop: new-breakpoint(min-width 769px);
$BigFontSize: 18px
$MediumFontSize: $BigFontSize - 2px
$LittleFontSize: $MediumFontSize - 2px
$darkness-gray: #bbb
$gray: #ddd
$ligth-gray: tint($gray,70%)
$teal: #009688
$action-color: #039be5
$margin: 1.5em
$topbar-size: 60px

//

$base-zIndex: 10
$modal-backdrop-zIndex: $base-zIndex + 1
$modal-content-zIndex: $modal-backdrop-zIndex + 1
$dropdown-Zindex: $modal-content-zIndex + 1
$notification-zIndex: $dropdown-Zindex + 1
$popover-zIndex: $notification-zIndex + 1
$loader-zIndex: $popover-zIndex + 1 